@model AspnetCoreMvcFull.Models.Ticket

@{
	ViewData["Title"] = "Create Ticket";
}

@* ************** Content ************** *@

<div class="row">
	<div class="col-xl">
		<div class="card">
			<div class="card-header">
				<h4>Create New Ticket</h4>
				<hr />
			</div>
			<div class="card-body">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="mb-6">
						<label asp-for="Title" class="form-label"></label>
						<input asp-for="Title" class="form-control" placeholder="Title" />
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
					<div class="mb-6">
						<label asp-for="Description" class="form-label"></label>
						<textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<div class="mb-6">
						<label asp-for="ProjectId" class="form-label"></label>
						<select asp-for="ProjectId" class="form-select" asp-items="ViewBag.ProjectId"></select>
					</div>
					<div class="mb-6">
						<label asp-for="TicketTypeId" class="form-label"></label>
						<select asp-for="TicketTypeId" class="form-select" asp-items="ViewBag.TicketTypeId"></select>
					</div>
					<div class="mb-6">
						<label asp-for="TicketPriorityId" class="form-label"></label>
						<select asp-for="TicketPriorityId" class="form-select" asp-items="ViewBag.TicketPriorityId"></select>
					</div>
					<div>
						<input type="submit" value="Create" class="btn btn-primary" />
						<a class="btn btn-outline-secondary" onclick="history.back()">Cancel</a>
					</div>
				</form>
			</div> 
		</div>
	</div>
</div>


@section PageScripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
