@model AspnetCoreMvcFull.Models.Ticket

@{
	ViewData["Title"] = "Edit Ticket";
}

<div class="row">
	<div class="col-xl">
		<div class="card mb-6">
			<div class="card-header d-flex align-items-center">
				<h4>Edit Ticket</h4>
			</div>
			<div class="card-body">
				<form asp-controller="Tickets" asp-action="Edit" method="post" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="Id" />
					<input type="hidden" asp-for="ProjectId" />
					<input type="hidden" asp-for="Created" />
					<input type="hidden" asp-for="OwnerUserId" />
					<input type="hidden" asp-for="DeveloperUserId" />
					<input type="hidden" asp-for="Archived" />

					<div class="mb-6">
						<label asp-for="Title" class="form-label"></label>
						<input asp-for="Title" class="form-control" />
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
					<div class="mb-6">
						<label asp-for="Description" class="form-label"></label>
						<textarea asp-for="Description" class="form-control"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<div class="mb-6">
						<label asp-for="TicketTypeId" class="form-label"></label>
						<select asp-for="TicketTypeId" class="form-select" asp-items="ViewBag.TicketTypeId"></select>
						<span asp-validation-for="TicketTypeId" class="text-danger"></span>
					</div>
					<div class="mb-6">
						<label asp-for="TicketPriorityId" class="form-label"></label>
						<select asp-for="TicketPriorityId" class="form-select" asp-items="ViewBag.TicketPriorityId"></select>
						<span asp-validation-for="TicketPriorityId" class="text-danger"></span>
					</div>
					<div class="mb-6">
						<label asp-for="TicketStatusId" class="form-label"></label>
						<select asp-for="TicketStatusId" class="form-select" asp-items="ViewBag.TicketStatusId"></select>
						<span asp-validation-for="TicketStatusId" class="text-danger"></span>
					</div>
					<div class="mb-6">
						<input type="submit" value="Submit" class="btn btn-primary" /> | <a asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Id">Back to Ticket</a> 
					</div>
				</form>
			</div>
		</div>
	</div>
</div> 


@section PageScripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
