@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
	ViewData["ActivePage"] = ManageNavPages.Email;
	ViewData["ParentLayout"] = "/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="row">
	<div class="col-md-10">
		<div class="card">
			<div class="card-body">
				<h3>@ViewData["Title"]</h3>
				<partial name="_StatusMessage" for="StatusMessage" />
				<form id="email-form" method="post">
					<div asp-validation-summary="All" class="text-danger" role="alert"></div>
					<div class="row">
						<div class="col-md-8">
							@if (Model.IsEmailConfirmed)
							{
								<label asp-for="Email" class="form-label"></label>
								<div class="mb-3 input-group">
									<input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
									<div class="input-group-append">
										<span class="h-100 input-group-text text-success font-weight-bold">✓</span>
									</div>
								</div>
							}
							else
							{
								<label asp-for="Email" class="form-label"></label>
								<div class="mb-3">
									<input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
									<button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
								</div>
							}
							<div class="mb-3">
								<label asp-for="Input.NewEmail" class="form-label"></label>
								<input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
								<span asp-validation-for="Input.NewEmail" class="text-danger"></span>
							</div>
							<button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>

@section PageScripts {
    <partial name="_ValidationScriptsPartial" />
}
