@{
	ViewData["Title"] = "Home";
	Layout = "_BlankLayout";
	//Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="col text-center">
	<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Try Workflo Now!</a>
</div>
