@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot Password?";
	Layout = "_BlankLayout";
}


@* ************** Content ************** *@

<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner">

			<!-- Forgot Password -->
			<div class="card px-sm-6 px-0">
				<div class="card-body">
					<section>
						<!-- Logo -->
						<div class="app-brand justify-content-center">
							<a href="/" class="app-brand-link gap-2">
								<img src="~/img/workflo logo.png" width="38" height="auto" />
								<span class="app-brand-text demo text-heading fw-bold">WorkFlo</span>
							</a>
						</div>
						<!-- /Logo -->
						<h4 class="mb-1">Forgot Password? 🔒</h4>
						<p class="mb-3">Enter your email and we'll send you instructions to reset your password</p>
						<form class="mb-3" method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
							<div class="mb-6">
								<label asp-for="Input.Email" class="form-label"></label>
								<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your email" autofocus/>
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
							<button class="btn btn-primary d-grid w-100">Send Reset Link</button> 
						</form>
						<div class="text-center">
							<a asp-area="Identity" asp-page="/Account/Login" class="d-flex justify-content-center">
								<i class="bx bx-chevron-left me-1"></i>
								Back to login
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div> 

@section PageScripts {
    <partial name="_ValidationScriptsPartial" />
}
