@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
	Layout = "_BlankLayout";
}

@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner">

			<!-- Login -->
			<div class="card px-sm-6 px-0">
				<div class="card-body">
					<section>
						<!-- Logo -->
						<div class="app-brand justify-content-center">
							<a href="/" class="app-brand-link gap-2">
								<img src="./img/workflo logo.png" width="38" />
								<span class="app-brand-text demo text-heading fw-bold">WorkFlo</span>
							</a>
						</div>
						<!-- /Logo -->
						<h4>Explore this app as demo user:</h4>
						<div class="mb-1 text-center">
							<form id="account" method="post">
								<div class="form-group">
									<div class="row">
										<div class="col-12 btn-block">
											<button type="submit" class="w-100 btn btn-link" name="demoLoginEmail" value="DemoAdmin">Admin</button>
										</div>
										<div class="col-12 btn-block">
											<button type="submit" class="w-100 btn btn-link" name="demoLoginEmail" value="DemoPM">Project Manager</button>
										</div>
										<div class="col-12 btn-block">
											<button type="submit" class="w-100 btn btn-link" name="demoLoginEmail" value="DemoDev">Developer</button>
										</div>
										<div class="col-12 btn-block">
											<button type="submit" class="w-100 btn btn-link" name="demoLoginEmail" value="DemoSub">Submitter</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</section>
					<section>
						<hr>
						<h4 class="mb-1">Welcome to WorkFlo! 👋</h4>
						<p class="mb-6">Please sign-in to your account and start the adventure</p>
						<form id="account" method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="mb-3">
								<label asp-for="Input.Email" class="form-label"></label>
								<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" autofocus />
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="Input.Password" class="form-label"></label>
								<div class="input-group input-group-merge">
									<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
									<span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
								</div>
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<div class="mb-2">
								<div class="d-flex justify-content-between mt-3">
									<div class="checkbox">
										<label asp-for="Input.RememberMe" class="form-label">
											<input class="form-check-input" asp-for="Input.RememberMe" />
											@Html.DisplayNameFor(m => m.Input.RememberMe)
										</label>
									</div>
									<p>
										<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
									</p>
								</div>
							</div> 
							<div class="mb-3">
								<button id="login-submit" class="btn btn-primary d-grid w-100" type="submit">Login</button>
							</div> 
							<div>
								<p>
									Don't have an account?  <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up!</a>
								</p> 
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
</div> 

@section PageScripts {
    <partial name="_ValidationScriptsPartial" />
}
