@page
@model LogoutModel
@{
	ViewData["Title"] = "Log out";
	ViewData["navbarHideToggle"] = true;
	ViewData["isMenu"] = false;
	ViewData["menuFixed"] = "";
	Layout = "_BlankLayout";
}

@section PageStyles {
	<style>
		html, body {
			height: 100%;
		}
	</style>
}

<body class="d-flex align-items-center py-4 bg-body-light">
	<main class="w-100 m-auto" style="max-width:330px;padding:1rem;">
		<img class="mb-4" src="~/img/WorkFlo-logo.png" alt="" width="72" height="57">
		<h1>@ViewData["Title"]</h1>
		<p class="mb-4">Thank you for using WorkFlo</p>
		@{
			if (User.Identity?.IsAuthenticated ?? false)
			{
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post">
					<button type="submit" class="btn btn-primary">Click here to continue...</button>
				</form>
			}
			else
			{
				<p>You have successfully logged out of the application.</p>
			}
		}
	</main>
</body>

