@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Reset password";
	Layout = "_BlankLayout";
}

@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner">

			<!-- Reset Password-->
			<div class="card px-sm-6 px-0">
				<div class="card-body">
					<section>
						<!-- Logo -->
						<div class="app-brand justify-content-center">
							<a href="/" class="app-brand-link gap-2">
								<img src="~/img/workflo logo.png" width="38" height="auto" />
								<span class="app-brand-text demo text-heading fw-bold">WorkFlo</span>
							</a>
						</div>
						<!-- /Logo -->
						<h4>@ViewData["Title"]</h4>
						<p>
							Reset your password.
						</p>
						<form method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
							<input asp-for="Input.Code" type="hidden" />
							<div class="mb-3">
								<label asp-for="Input.Email" class="form-label"></label>
								<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="Input.Password" class="form-label"></label>
								<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="Input.ConfirmPassword" class="form-label"></label>
								<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
								<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
							</div>
							<button type="submit" class="btn btn-primary d-grid w-100">Reset</button>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
</div> 

@section PageScripts {
    <partial name="_ValidationScriptsPartial" />
}
