@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "Reset password confirmation";
	Layout = "_BlankLayout";
}

@section PageStyles {
	<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css"> 
}

@* ************** Content ************** *@

<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner">

			<!-- Reset Password Confirmation-->
			<div class="card px-sm-6 px-0">
				<div class="card-body">
					<section>
						<!-- Logo -->
						<div class="app-brand justify-content-center">
							<a href="/" class="app-brand-link gap-2">
								<img src="~/img/workflo logo.png" width="38" height="auto" />
								<span class="app-brand-text demo text-heading fw-bold">WorkFlo</span>
							</a>
						</div>
						<!-- /Logo -->
						<h4>@ViewData["Title"]</h4>
						<p>
							Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
						</p>
					</section>
				</div>
			</div>
		</div>
	</div>
</div> 

