@model AspnetCoreMvcFull.Models.Invite

@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> UserManager

@{
	ViewData["Title"] = "Create";
	BTUser? btUser = await UserManager.GetUserAsync(User);
}


@* ************** Content ************** *@

<div class="row">
	<div class="col-xl">
		<div class="card mb-6">
			<div class="card-header">
				<h4>Send Email Invite</h4>
				<hr />
			</div>
			<div class="card-body">
				<form asp-action="Create" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="InviteDate" value="@DateTimeOffset.Now" />
					<input type="hidden" asp-for="IsValid" value="true" />
					<input type="hidden" asp-for="InviterId" value="@btUser.Id" />
					<input type="hidden" asp-for="CompanyId" value="@btUser.CompanyId" />
					<div class="form-group mb-6">
						<label asp-for="CompanyId" class="form-label"></label>
						<select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId" disabled></select>
					</div>
					<div class="form-group mb-6">
						<label asp-for="ProjectId" class="form-label"></label>
						<select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
					</div>
					<div class="form-group mb-6">
						<label asp-for="InviteeFirstName" class="form-label"></label>
						<input asp-for="InviteeFirstName" class="form-control" />
						<span asp-validation-for="InviteeFirstName" class="text-danger"></span>
					</div>
					<div class="form-group mb-6">
						<label asp-for="InviteeLastName" class="form-label"></label>
						<input asp-for="InviteeLastName" class="form-control" />
						<span asp-validation-for="InviteeLastName" class="text-danger"></span>
					</div>
					<div class="form-group mb-6">
						<label asp-for="InviteeEmail" class="form-label"></label>
						<input asp-for="InviteeEmail" class="form-control" />
						<span asp-validation-for="InviteeEmail" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Send Invitation" class="btn btn-primary" />
						<a class="btn btn-outline-secondary" onclick="history.back()">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>  

@section PageScripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
